Repository voxpupuli/puppet-ca_cert, pull requests merged in 2024-06, with the labels that each got.

#106 modulesync 8.0.1
  .github/workflows/ci.yml
  .msync.yml
  .overcommit.yml
  .rspec
  .rspec_parallel
  Gemfile
  spec/spec_helper_acceptance.rb
Labels: modulesync

#107 Support distrusting ca's on Debian; Changed ca_cert::ca parameter names and meaning
  REFERENCE.md
  data/Archlinux-family.yaml
  data/Debian-family.yaml
  data/RedHat-family-9.yaml
  manifests/ca.pp
  manifests/init.pp
  spec/acceptance/ca_cert_ca_spec.rb
  spec/classes/ca_cert_spec.rb
  spec/defines/ca_spec.rb
Labels: enhancement, backwards-incompatible

#108 Support proxy when downloading remote certificates
  REFERENCE.md
  manifests/ca.pp
Labels: enhancement

#112 modulesync 9.0.0
  .github/labeler.yml
  .msync.yml
  Gemfile
Labels: modulesync

#115 replace create_resources() with iterator
  manifests/init.pp
Labels: enhancement

#116 Release 3.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
